{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="form-flex-container">
        <div style="padding: 20px; border-radius: 10px;width: 45%; background-color: white;">
            <form action="adminSubmitReg/" enctype="multipart/form-data"  method="post">{% csrf_token %}
                <h1>Admin Registration Form</h1>
                {% for message in messages %}
                <h3 style="color:red;">{{message}}</h3>
                {% endfor %}
               
                <div class="row">
                    <div class="column">
                       
                        {{form.email.label_tag}}{{form.email}}
                        {{form.profile_pic.label_tag}}{{form.profile_pic}}
                        
                    </div>
                    <div class="column">
                
                        {{form.password.label_tag}}{{form.password}} 
                        {{form.admin_code.label_tag}}{{form.admin_code}}                        
                    </div>
                </div>
                <br><button type="submit">Register</button>
                already have an account?&nbsp;<a href="/admin/login">Login Here</a>
            </form>
        </div>
    </div>  
</div>
<style>
    .container{
        display:grid;
    }
    input, select{
        margin-bottom:10px;
    }
    .row {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Adjust the column sizes as per your needs */
    gap: 10px; /* Adjust the gap between columns */
}
</style>


{% endblock %}