{% extends "layout.html" %}
{% block content %}  
    {% block admin_content %}
    <div style="display: flex; height: 50vh;justify-content: center;">
        <div style="width:50%;font-size:22px;padding: 1rem; box-shadow: 0px 2px 8px 0px black; border-radius: 1rem; background-color: rgba(245, 245, 245, 0.617);align-items: center;justify-content: center;">
          <h2>About BCC Clinic</h2>
          <text>
            Clinics have been popular with patients with minor ailments and also for certain specialties.
            They provide easy access to healthcare without having to go to hospitals.
            For a visit with a dentist or an ophthalmologist, most people visit a doctor at their clinics than spend time waiting at a hospital.
            Other than specialized clinics, general health clinics in remote locations play a huge role in providing healthcare services where access to hospitals may not be easy.
            Primary healthcare centers across the country conduct vaccination camps, and regular health check-ups in regions that may otherwise suffer from a lack of healthcare.
          </text>
        </div>
        <div style="display: flex;width:30%; align-items: center;">
          <div style="padding: .5rem;width: 100%;">
            <img style="height: 100%; width: 100%; border-radius: 3rem;" src="/static/assets/CIMSLOGO.jpg" />
          </div>
        </div>
    </div>
    {% endblock %}
{% endblock %}


 