{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div>
        <div class="form-flex-container" style="padding: 50px 200px;">
            <div class="" style="padding: 20px; border-radius: 10px;width: 90%; background-color: white;">
                <h1>{{reg_title}}</h1>
                <div style="margin-bottom: 10px;">
                    <p>Registration Notes:</p>
                    <li>Type <strong>"N/A"</strong> for Not Applicable Fields</li>
                    <li>For the medical condition field, refer to the result of medical certificate you uploaded.</li>
                </div>

                {% for message in messages %}
                <h3 style="color:red;">{{message}}</h3>
                {% endfor %}
                <form action="{{url}}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="column">
                            {{form.firstname.label_tag}}{{form.firstname}}
                            {{form.age.label_tag}}{{form.age}}
                            {{form.email.label_tag}}{{form.email}}
                            
                        </div>
                        <div class="column">
                            {{form.middlename.label_tag}}{{form.middlename}}
                            {{form.address.label_tag}}{{form.address}}
                            {{form.password.label_tag}}{{form.password}}                            
                        </div>
                        <div class="column">
                            {{form.lastname.label_tag}}{{form.lastname}}
                            {{form.gender.label_tag}}{{form.gender}}
                            {% if not usertype == "student" %}
                            <label>Registration Code</label>
                            <input name="code" required>
                            {% endif %}
                        </div>
                        <div class="column">
                            {{form.birthday.label_tag}}{{form.birthday}}
                            {{form.department.label_tag}}{{form.department}}                          
                        </div>
                    </div>
                    <div style="margin-top: 10px;">
                        <button type="submit">Register</button>&nbsp;Already have an account? <a href="/login">Login</a>
                    </div>

                </form>
        
            </div>
        </div>
       
    </div>
</div>
<style>
    .container{
        display:grid;
    }
    input, select{
        margin-bottom:10px;
    }
    .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Adjust the column sizes as per your needs */
    gap: 10px; /* Adjust the gap between columns */
}
</style>

{% endblock %}