{% extends "layout.html" %}
{% block content %}
<div style="padding: 20px;">
    <h1>Privacy Policy</h1>

    <p style="font-size: 20px;">
        At Buenavista Community College we are committed to protecting the privacy and confidentiality of student and staff health information. This Privacy Policy outlines how we collect, use, disclose, and safeguard personal information within our  Clinic Information Management System (CIMS). Please read this policy carefully to understand our practices regarding your personal information.<br>
•	We collect personal information, such as student and staff names, contact details, medical history, and health-related data, solely for the purpose of providing healthcare services within the school setting. This information is collected with consent and is necessary to ensure appropriate medical care and to comply with legal and regulatory requirements<br>
•	Personal information collected through the 7CIMS is stored securely in a protected database. Access to this information is limited to authorized individuals involved in providing healthcare services within the school. <br>
•	Personal information collected within the CIMS is accessible only to authorized personnel within the school, including healthcare providers and administrative staff involved in student, faculty and staff health management.<br>
•	We adhere to applicable data protection and privacy laws, including but not limited to the Family Educational Rights and Privacy Act (FERPA) and any other relevant state or local regulations.<br>
•	We may update this Privacy Policy periodically to reflect changes in our information practices or applicable laws. We encourage individuals to review this policy periodically for any updates.<br>
If you have any questions or concerns about our privacy practices or this Privacy Policy, please contact the school administration or the designated privacy officer.
    </p>
</div>   
{% endblock %}