{% extends "features.html" %}
{% block features_content %}
<a href="{% url 'features' %}"><button>Back</button></a>
<h1 >Admission Records</h1>
{% block visit_history_record %}
<div style="padding: 1rem;">
    {% for message in messages %}
    <h3 style="color:red;">{{message}}</h3>
    {% endfor %}
    <form style="width: 100px;" action="{% url 'search_history' %}" method="post">
        {% csrf_token %}
        <div style="display: grid; grid-template-columns:auto">
            <label>ID:</label>
            {% for x in form %}
            {{x}}
            {% endfor %}
            <button style="width: max-content;" type="submit">Search</button>
        </div>  
    </form>
</div>
<div>
    <form>
        <table>
            <tr class="table-header">
                <td>User ID</td>
                <td>Name</td>
                <td>Email</td>
                <td>Date</td>
                <td>Findings</td>
            </tr>
            {% for h in history %}
            <tr>
                <td>{{ h.rec_id }}</td>
                <td>{{ h.name }}</td>
                <td>{{ h.email }}</td>
                <td>{{ h.checkup_date }}</td>
                <td>{{ h.remark_after_checkup }}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>
{% endblock %}
{% endblock %}